{% extends layout %} {% load i18n %} {% block title %}
{% translate "Forgot password" %}{% endblock %} {% block content %}


<form id="ressetPassword" class="form w-100" method="POST" data-reset-password-url="{% url 'auth:reset-password' %}">
  <!--begin::Heading-->
  {% csrf_token %}
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">Forgot Password ?</h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
      Enter your email to reset your password.
    </div>
    <!--end::Link-->
  </div>
  <!--begin::Heading-->

  <!--begin::Input group--->
  <div class="fv-row mb-8">
    <!--begin::Email-->
    <input
      type="text"
      placeholder="Email"
      name="email"
      autocomplete="off"
      class="form-control bg-transparent"
    />
    <!--end::Email-->
    <span class="validation-message" id="emailValidation"></span>
  </div>

  <!--begin::Actions-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button
      type="submit"
      id="submitBtn"
      class="btn btn-lg btn-primary w-100 mb-5"
    >
      <span class="indicator-label">Submit</span>
      <span
        class="spinner-border spinner-border-sm align-middle ms-2 d-none"
        id="submitSpinner"
      ></span>
    </button>

    <a href="/signin" class="btn btn-light">Cancel</a>
  </div>
  <!--end::Actions-->
</form>
<!--end::Form-->

<!-- <script>
  $(document).ready(function () {
    $("form").submit(function (e) {
      e.preventDefault();

      // Clear previous validation messages
      $(".validation-message").text("");

      // Perform client-side validation
      var email = $("input[name='email']").val();

      if (!email) {
        $("#emailValidation").text("Email is required");
        return;
      }

      // Update text to "Please wait..." and show the spinner
      var submitBtn = $("#submitBtn");
      submitBtn.find(".indicator-label").text("Please wait...");
      submitBtn.find(".spinner-border").removeClass("d-none");

      // Get form data
      var formData = $(this).serialize();

      // Ajax request
      $.ajax({
        type: "POST",
        url: "{% url 'auth:reset-password' %}", // Replace with your server endpoint
        data: formData,
        success: function (response) {

          // Check if the API response is true
          if (response) {
            // Show a SweetAlert success popup
            Swal.fire({
              icon: "success",
              title: response.msg,
              showConfirmButton: false,
              timer: 1500,
            });

            // Optionally, you can redirect the user or perform other actions
          }
        },
        error: function (error) {
          // Handle errors
          Swal.fire({
            icon: "error",
            title: "User with this email does not exist.",
            showConfirmButton: false,
            timer: 1500,
          });
        },
        complete: function () {
          // Reset text to "Submit" and hide the spinner
          submitBtn.find(".indicator-label").text("Submit");
          submitBtn.find(".spinner-border").addClass("d-none");
        },
      });
    });

    // Add event listener to clear validation messages on input
    $("input[name='email']").on("input", function () {
      $("#emailValidation").text("");
    });

    // Add click event for the "Cancel" button
    $("#cancelBtn").click(function () {
      // Redirect to the login screen
      window.location.href = "/signin"; // Replace with the actual URL of your login screen
    });
  });
</script> -->

<!-- <script>
  $(document).ready(function () {
    // Click event for the "Cancel" button
    $("#cancelBtn").click(function () {
      // Redirect to the login screen
      window.location.href = "/signin"; // Replace "/login" with the actual URL of your login screen
    });

    // Rest of your existing script...
    // ...
  });
</script> -->

{% endblock content %}
